/microsoft/mcp# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

# -----------------------------------------------------------------
# IMPORTANT NOTE:
#   The ordering of "ServiceLabel" blocks is important!
#
#   Matching takes place from bottom-to-top and will stop after the
#   first match.  Place less specific matches earlier in the file
#   and more specific matches later.
#
#   Be sure to add new entries in the area they belong, denoted by the
#   header wrapped in "#" characters. (e.g. SDK, EngSys, Management)
# -----------------------------------------------------------------

##################
# Catch all
##################
*                                      @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

##################
# Eng Sys
##################
/eng/                                  @Azure/azure-mcp @jongio @wesh @joshfree @pahallis @Azure/azure-sdk-eng
/.github/                              @Azure/azure-mcp @jongio @wesh @joshfree @pahallis @Azure/azure-sdk-eng
/.config/                              @Azure/azure-mcp @jongio @wesh @joshfree @pahallis @Azure/azure-sdk-eng

##################
# Services
##################
# PRLabel: %area-AKS
/tools/Azure.Mcp.Tools.Aks/            @jongio @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-AKS
# ServiceOwners:                       @jongio


# PRLabel: %area-AppConfig
/tools/Azure.Mcp.Tools.AppConfig/      @JonathanCrd @conniey @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-AppConfig
# ServiceOwners:                       @shenmuxiaosen @avanigupta


# PRLabel: %area-ACR
/tools/Azure.Mcp.Tools.Acr/            @jongio @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-ACR
# ServiceOwners:                       @jongio


# PRLabel: %area-BestPractices
/tools/Azure.Mcp.Tools.AzureBestPractices/             @g2vinay @conniey @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-BestPractices
# ServiceOwners:                       @g2vinay @conniey

# PRLabel: %area-CloudArchitect
/tools/Azure.Mcp.Tools.CloudArchitect/                         @msalaman @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-CloudArchitect
# ServiceOwners:                       @msalaman

# PRLabel: %area-CosmosDB
/tools/Azure.Mcp.Tools.Cosmos/         @sajeetharan @xiangyan99 @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-CosmosDB
# ServiceOwners:                       @sajeetharan @xiangyan99


# PRLabel: %area-Azd
/tools/Azure.Mcp.Tools.Extension/      @wbreza @jongio @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-Azd
# ServiceOwners:                       @wbreza @jongio

# PRLabel: %area-Foundry
/tools/Azure.Mcp.Tools.Foundry/        @jayzzh @xiangyan99 @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-Foundry
# ServiceOwners:                       @jayzzh @xiangyan99

# PRLabel: %area-FunctionApp
/tools/Azure.Mcp.Tools.FunctionApp/   @jongio @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-FunctionApp
# ServiceOwners:                      @jongio

# PRLabel: %area-Grafana
/tools/Azure.Mcp.Tools.Grafana/        @weng5e @xiangyan99 @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-Grafana
# ServiceOwners:                       @weng5e @xiangyan99

# PRLabel: %area-KeyVault
/tools/Azure.Mcp.Tools.KeyVault/       @vcolin7 @JonathanCrd @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-KeyVault
# ServiceOwners:                       @vcolin7 @JonathanCrd

# PRLabel: %area-ISV
/tools/Azure.Mcp.Tools.AzureIsv/       @jayanthjj @pachaturevedi

# ServiceLabel: %area-ISV
# ServiceOwners:                       @jayanthjj @pachaturevedi

# PRLabel: %area-Kusto
/tools/Azure.Mcp.Tools.Kusto/          @danield137 @xiangyan99 @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-Kusto
# ServiceOwners:                       @danield137


# PRLabel: %area-Marketplace
/tools/Azure.Mcp.Tools.Marketplace/    @meirloichter @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-Marketplace
# ServiceOwners:                       @meirloichter


# PRLabel: %area-Monitor
/tools/Azure.Mcp.Tools.Monitor/        @smritiy @srnagar @jongio @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-Monitor
# ServiceOwners:                       @smritiy @srnagar @jongio

# PRLabel: %area-AzureManagedLustre
/tools/Azure.Mcp.Tools.AzureManagedLustre/                        @wolfgang-desalvador
# ServiceLabel: %area-AzureManagedLustre
# ServiceOwners:                       @wolfgang-desalvador

# PRLabel: %area-MySQL
/tools/Azure.Mcp.Tools.MySql/          @ramnov @mattkohnms @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-MySQL
# ServiceOwners:                       @ramnov @mattkohnms


# PRLabel: %area-Postgres
/tools/Azure.Mcp.Tools.Postgres/       @kk-src @shreyaaithal @maxluk @xiangyan99 @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-Postgres
# ServiceOwners:                       @kk-src @shreyaaithal @maxluk


# PRLabel: %area-Search
/tools/Azure.Mcp.Tools.Search/         @pablocastro @jongio @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-Search
# ServiceOwners:                       @pablocastro


# PRLabel: %area-ServiceBus
/tools/Azure.Mcp.Tools.ServiceBus/     @anuchandy @conniey @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-ServiceBus
# ServiceOwners:                       @shankarsama @EldertGrootenboer

# PRLabel: %area-Redis
/tools/Azure.Mcp.Tools.Redis/          @philon-msft @xiangyan99 @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-Redis
# ServiceOwners:                       @philon-msft @carldc

# PRLabel: %area-Storage
/tools/Azure.Mcp.Tools.Storage/        @alzimmermsft @jongio @xiangyan99 @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-Storage
# ServiceOwners:                       @alzimmermsft  @jongio

# PRLabel: %area-Authorization
/tools/Azure.Mcp.Tools.Authorization/  @vurhanau @jongio @xiangyan99 @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-Authorization
# ServiceOwners:                       @vurhanau

# PRLabel: %area-Deploy
/tools/Azure.Mcp.Tools.Deploy/         @qianwens @xiaofanzhou @Azure/azure-mcp @jongio @wesh @joshfree @pahallis
/tools/Azure.Mcp.Tools.Quota/          @qianwens @xiaofanzhou @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-Deploy
# ServiceOwners:                       @qianwens @xiaofanzhou

# PRLabel: %area-LoadTesting
/tools/Azure.Mcp.Tools.LoadTesting/    @nishtha489 @knarayanana @krchanda @johnsta @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-LoadTesting
# ServiceOwners:                       @nishtha489 @knarayanana @krchanda @johnsta

# PRLabel: %area-VirtualDesktop
/tools/Azure.Mcp.Tools.VirtualDesktop/ @vladimisms @Azure/azure-mcp @jongio @wesh @joshfree @pahallis

# ServiceLabel: %area-VirtualDesktop
# ServiceOwners:                       @vladimisms
